<% @contents.each do |content| %>
  <div class="large-3 medium-3 small-6 columns text-center end">
    <%= image_tag attachment_url(content, :image, :fill, 200, 150), style: "display: block; margin-left: auto; margin-right: auto;" %>
    <br>
    <h4 style="color:#23557F"><strong><%= content.title%>:</strong></h4>

    <p class="text-justify" style="color:#23557F"><%= content.info %></p>

    <a href="" class="button" style="width: 77%">Conoce más</a>
  </div>
<% end %>
