<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit data-options="pause_on_hover:false; timer_speed:7000;">
      <li><img src="http://placehold.it/970x500" alt="slide 1">
          <div class="orbit-caption">
            <h2 style="color:white !important" class="text-right">Conoce Nuestra Empresa</h2>
            <h3 style="color:#1F4056 !important" class="text-right">y lo que podemos ofrecerte</h3>
          </div>
      </li>
      <li><img src="http://placehold.it/970x500" alt="slide 2">
          <div class="orbit-caption">
            <h2 style="color:white !important" class="text-right">La Educación y La Familia</h2>
            <h3 style="color:#1F4056 !important" class="text-right">son nuestra priodidad</h3>
          </div>
      </li>
      <li><img src="http://placehold.it/970x500" alt="slide 3">
          <div class="orbit-caption">
            <h2 style="color:white !important" class="text-right">¿Estas Protegido?</h2>
            <h3 style="color:#1F4056 !important" class="text-right">Consulta con Nosotros</h3>
          </div>
      </li>
      <li><img src="http://placehold.it/970x500" alt="slide 4">
          <div class="orbit-caption">
            <h2 style="color:white !important" class="text-right">¿Estas Intranquilo?</h2>
            <h3 style="color:#1F4056 !important" class="text-right">Podemos ayudarte</h3>
          </div>
      </li>
      <li><img src="http://placehold.it/970x500" alt="slide 4">
          <div class="orbit-caption">
            <h2 style="color:white !important" class="text-right">¿Preocupado por el futuro?</h2>
            <h3 style="color:#1F4056 !important" class="text-right">nosotros te proteguemos en todo momento</h3>
          </div>
      </li>
    </ul>
  </div>

  <div class="large-12 columns">
    <h1 class="text-center" style="font-size: 50px; color: #183A51 !important; font-weight: bold;">Encuentra tu seguro indicado</h1>
    <br>
    <br>
  </div>

  <div class="row">
    <%= render partial: 'elements/content' %>
  </div>

  <hr>
    <img src="/assets/banner.png" style="height: 250px; width: 900px; display: block; margin-left: auto; margin-right: auto;">
    <br>
    <br>
    <br>
</div>